<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <!--브라우저가 모바일에 최적화되었음을 알림-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Material 폰트와 아이콘 불러오기-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--압축된 CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--jQuary를 materialize.js보다 먼저 불러오기-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--압축된 JS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!--구글지도 API-->
    {% include "../../../public/js/googleMapAPI.html" %}
</head>
